@import "BasicStylesheet.css";


#availableGamesVBox {
    -fx-background-color: background;
}

#availableGamesListStackPane {
    -fx-background-color: transparent;
}

#loggedUsername {
    -fx-text-fill: palette-red;
}

#noAvailableGamesHBox {
    -fx-background-color: transparent;
}

#noAvailableGamesLabel {
    -fx-text-fill: palette-red;
}

.availableGame {
    -fx-background-color: #ddc99b;
    -fx-border-color:dark-grey;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
}
