.root {
    -fx-font-family: Eskargot;
    -fx-font-size: 18.0;
    dark-grey: #403f28;
    form-background: #ddc99b;
    palette-brown: #77471f;
    background: #b08036;
    light-grey: #95a5a2;
    almost-white: #f0ede3;
    light-brown: #8a746a;
    palette-gold: #c79c5a;
    palette-green: #51a93e;
    palette-red: #731515;
    /*palette-red: #a51c18;*/
}

* {
    -fx-text-fill: dark-grey;
}

.background {
    -fx-background-color: background;
}

.button {
    -fx-background-radius: 500;
    -fx-border-radius: 500;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: almost-white;
    -fx-border-color: dark-grey;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: dark-grey;
    -fx-text-fill: almost-white;
}

.text-field {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-background-color: almost-white;
    -fx-border-color: almost-white;
}

.text-field:focused {
    -fx-border-color: dark-grey;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : form-background;
    -fx-background-radius : 100;
}

.list-cell {
    -fx-padding: 10;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view > .corner {
    -fx-background-color: transparent;
}

.button:disabled {
    -fx-background-color: almost-white;
}

.popUpMessageBackground {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: form-background;
    -fx-background-radius: 1000;
}

.backgroundBlurPane {
    -fx-background-color: background;
    -fx-opacity: 0.5;
}
