@import "BasicStylesheet.css";

#connectionVBox {
    -fx-background-color: background;
}

#serverIPBackground {
    -fx-background-color: form-background;
    -fx-background-radius: 1000;
}

#serverPortBackground {
    -fx-background-color: form-background;
    -fx-background-radius: 1000;
}
