@import "BasicStylesheet.css";

#gameBackgroundBlurPane {
    -fx-background-color: background;
    -fx-opacity: 0.5;
}

#gameBackgroundHBox {
    -fx-background-color: background;
}

#gameLeftSide, #gameRightSide, #boardBackground {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: form-background;
    -fx-background-radius: 20;
}

#firstCommonGoalVBox, #secondCommonGoalVBox, #personalGoalVBox, #gameRankingHBox {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: almost-white;
    -fx-background-radius: 10;
}

#firstCommonGoalLabel, #secondCommonGoalLabel, #personalGoalLabel {
    -fx-font-size: 13;
    -fx-text-fill: palette-green;
}

#turnLabel {
    -fx-text-fill: palette-red;
}

#bookshelfColumn1Button, #bookshelfColumn2Button, #bookshelfColumn3Button, #bookshelfColumn4Button, #bookshelfColumn5Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#bookshelfColumn1Button:hover, #bookshelfColumn2Button:hover, #bookshelfColumn3Button:hover, #bookshelfColumn4Button:hover, #bookshelfColumn5Button:hover {
    -fx-background-color: palette-green;
    -fx-opacity: 0.4;
}
