@import "BasicStylesheet.css";


#gameLobbyVBox {
    -fx-background-color: background;
}

#playerListHBox {
    -fx-background-color: transparent;
}

#playerList {
    -fx-effect: innershadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: form-background;
    -fx-background-radius: 30;
}

#gameName {
    -fx-text-fill: palette-red;
}

.player {
    -fx-background-color: #ddc99b;
    -fx-border-color:dark-grey;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
}
