@import "BasicStylesheet.css";


#gameLeftSide, #gameRightSide, #boardBackground {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: form-background;
    -fx-background-radius: 20;
}

#firstCommonGoalVBox, #secondCommonGoalVBox, #personalGoalVBox {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: almost-white;
    -fx-background-radius: 10;
}

#firstCommonGoalLabel, #secondCommonGoalLabel, #personalGoalLabel {
    -fx-font-size: 13;
    -fx-text-fill: palette-green;
}

#turnLabel {
    -fx-text-fill: palette-red;
}

#bookshelfColumn1Button, #bookshelfColumn2Button, #bookshelfColumn3Button, #bookshelfColumn4Button, #bookshelfColumn5Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#bookshelfColumn1Button:hover, #bookshelfColumn2Button:hover, #bookshelfColumn3Button:hover, #bookshelfColumn4Button:hover, #bookshelfColumn5Button:hover {
    -fx-background-color: dark-grey;
    -fx-opacity: 0.2;
}

#scoreBoardListView {
    -fx-effect: dropshadow(three-pass-box, dark-grey, 7, 0, 0, 0);
    -fx-background-color: form-background;
    -fx-background-radius: 20;
}

.baseTile {
    -fx-background-color: transparent;
    -fx-border-width: 4;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.selectedTile {
    -fx-border-color: palette-light-red;
}

.unselectableTile {
    -fx-background-color: transparent;
    -fx-border-width: 4;
    -fx-border-radius: 4;
    -fx-background-radius: 0;
    -fx-opacity: 0.5;
    -fx-alignment: center;
}
